
@import _settings

body
	padding: 4%

.room
	margin-top: 50px
	min-width: 640px 
	width: 50%
	min-height: 80vh
	height: 550px 
	border: 2px solid #555
	margin: 0 auto
	//background: url("/assets/img/room_bg.jpg")
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	background-origin: border-box
	background-attachment: fixed
	box-sizing: border-box 
.stage-one
	text-align: center
	padding: 10%
	background: #263238
	height: 100%
	box-sizing: border-box 
	.greeting
		font-family: 'Roboto Slab'
		font-size: 6em
		color: #eee
		margin-bottom: 20px	
	.gender
		height: 80px
		width: 100%
		display: flex
		justify-content: center
		span
			margin: 3%
		.fa
			font-size: 4.5em
			font-weight: 700
			width: 80px
			height: 80px
			color: #eee
			&:hover
				animation-name: pulse
				animation-duration: 1s
				animation-timing-function: linear
				animation-iteration-count: infinite
				cursor: pointer
		.male
			&:hover
				color: #03A9F4

		.female
			&:hover
				color: #E91E63
		.title
			display: block
			color: #263238
			background: #8BC34A
			padding: 8px
			margin-top: 15px
			font-size: 1.1em
			font-family: 'Roboto Condensed'
			font-weight: 700
			outline: 3px solid rgb(38, 50, 56)
			outline-offset: -5px
			transition: 0.5s all
	.gr-description
		color: #03A9F4
		font-size: 1.5em
		margin-top: 80px
		padding: 40px
		font-family: 'Roboto Condensed'

.stage-one-leave
	left: 0
	&.stage-one-leave-active
		left: -100%

.stage-one-enter
	left: 100%
	&.stage-one-enter-active
		left: 0

.stage-one-enter, 
.stage-one-leave
	-webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
	-moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
	-ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
	-o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
	transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all

.stage-two
	width: 100%
	min-height: 100%
	display: flex
	flex-direction: column
	align-items: center
	h2
		font-family: 'Roboto Condensed'
		font-size: 2.8em
		color: #fff
	.models
		height: 350px
		img
			height: 100%
			margin: 10px 20px

.male-enter
	background: #80DEEA
.female-enter
	background: #F48FB1

.stage-three
	max-height: 100%
	height: 100%
	width: 100%
	background: #37474F
	color: #FFF
	display: flex
	flex-direction: column
	align-items: center
	font-family: 'Roboto Condensed'
	font-weight: 400
	font-size: 1em 
	h2
		font-family: 'Roboto Condensed'
	.portraite-groups
		margin: 30px 0 30px 0
		label
			margin: 40px
	.prt-cntr
		width: 70%
		height: 20%
		text-align: center
		//margin: 30px 0
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		position: relative 
	.user-prt-cntr
		flex-direction: column
		display: flex
		justify-content: center
		align-items: center
		width: 70%
		height: auto
		p
			font-size: 2.5em
			color: #FFCC00
	.icon-btn
		width: 60px
		height: 60px
		max-width: 60px
		max-height: 60px
		margin: 0 30px
		display: block
		box-sizing: border-box
		position: relative
		input
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			opacity: 0
			cursor: pointer		
	.camera
		position: absolute
		top: 120px
		left: 40px
	#ng-camera-action
		position: absolute
		top: -88px
		right: 2px
		width: 70px
		height: 60px
		opacity: 0
	.user-prt
		width: 100%
		height: 200px
		text-align: center
		position: relative
		img
			max-height: 100%
			height: 100%
			width: auto
		.result
			width: 100px
			position: absolute
			right: -65px
			top: 49px
			div
				font-weight: 100
				margin-bottom: 15px
	.btn-cub
		color: #fff
		font-size: 1.2em
		padding: 7px
		background: #37474F
		border: 2px solid #fff
		outline: 2px solid #fff
		outline-offset: 3px
		transition: 0.5s all ease
		&:hover
			background: #fff
			color: #37474F
			border: 2px solid #37474F
			outline: 2px solid #fff
			outline-offset: 1px

.cropArea
	overflow: hidden
	width: 100%
	height: 200px
	
.tick
	color: #8BC34A !important
	position: absolute
	top: -30px
	right: -105px
	font-size: 5em !important

.tools-section
	min-height: 100px

.dress-room
	position: relative
	height: 100%
	width: 100%

.model-sections
	max-height: 65%
	width: 65% 
	display: block
	position: relative
	//top: 50px
	text-align: center
	box-sizing: border-box
	img
		max-height: 420px
	.cloth	
		position: absolute
		text-align: center
		display: flex
		width: 100%
		justify-content: center
		img
			max-height: 100%
	.tshirt
		height: 160px
		top: 85px
	.trouser
		height: 175px
		top: 220px
	.cup
		height: 52px
		top: 17px
	.dress
		height: 200px
		top: 40px
	.boots 
		height: 95px
		top: 350px
	.portraite	
		top: 28px
		height: 52px
		img
			border-radius: 43%
			width: 11%

.clothes-section
	width: 35%
	height: 100%
	display: flex
	flex-direction: column
	position: absolute
	top: 0
	right: 0
	overflow: auto
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 1px 14px 0 rgba(0,0,0,.12),0 5px 8px 0 rgba(0,0,0,.14)
	.category-name
		display: flex
		align-items: center
		height: 35px
		padding-left: 10px
		margin: 10px 0
		box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12)
		font-family: 'Roboto Condensed'
		font-size: 1.3em
		color: #009688
	.cloth-cntr
		height: 180px
		box-sizing: border-box
		text-align: center
		border-bottom: 2px solid #03a9f4
		border-radius: 15px
		margin: 0 10px 15px 10px
		.cloth-item
			height: 170px
















