
@import _settings

body
	padding: 4%

.room
	margin-top: 50px
	min-width: 640px 
	width: 50%
	min-height: 80vh
	height: 550px 
	border: 2px solid #555
	margin: 0 auto
	//background: url("/assets/img/room_bg.jpg")
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	background-origin: border-box
	background-attachment: fixed
	box-sizing: border-box 
.stage-one
	text-align: center
	padding: 10%
	background: #263238
	height: 80vh
	box-sizing: border-box 
	.greeting
		font-family: 'Roboto Slab'
		font-size: 6em
		color: #eee
		margin-bottom: 20px	
	.gender
		height: 80px
		width: 100%
		display: flex
		justify-content: center
		span
			margin: 3%
		.fa
			font-size: 4.5em
			font-weight: 700
			width: 80px
			height: 80px
			color: #eee
			&:hover
				animation-name: pulse
				animation-duration: 1s
				animation-timing-function: linear
				animation-iteration-count: infinite
				cursor: pointer
		.male
			&:hover
				color: #03A9F4

		.female
			&:hover
				color: #E91E63
		.title
			display: block
			color: #263238
			background: #8BC34A
			padding: 8px
			margin-top: 15px
			font-size: 1.1em
			font-family: 'Roboto Condensed'
			font-weight: 700
			outline: 3px solid rgb(38, 50, 56)
			outline-offset: -5px
			transition: 0.5s all
	.gr-description
		color: #03A9F4
		font-size: 1.5em
		margin-top: 80px
		padding: 40px
		font-family: 'Roboto Condensed'

.stage-one-leave
	left: 0
	&.stage-one-leave-active
		left: -100%

.stage-one-enter
	left: 100%
	&.stage-one-enter-active
		left: 0

.stage-one-enter, 
.stage-one-leave
	-webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
	-moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
	-ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
	-o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
	transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all

.stage-two
	width: 100%
	min-height: 100%
	display: flex
	flex-direction: column
	align-items: center
	h2
		font-family: 'Roboto Condensed'
		font-size: 2.8em
		color: #fff
	.models
		height: 350px
		img
			height: 100%
			margin: 10px 20px

.male-enter
	background: #80DEEA
.female-enter
	background: #F48FB1

.tools-section
	min-height: 100px

.stage-three
	position: relative
	height: 100%
	width: 100% 

.model-sections
	max-height: 65%
	width: 65% 
	display: block
	position: relative
	//top: 50px
	text-align: center
	box-sizing: border-box
	img
		max-height: 420px
	.tshirt
		height: 160px
		position: absolute
		top: 85px
		text-align: center
		display: flex
		width: 100%
		justify-content: center
		img
			max-height: 100%
		
.clothes-section
	width: 35%
	height: 100%
	display: flex
	flex-direction: column
	position: absolute
	top: 0
	right: 0
	overflow: auto
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 1px 14px 0 rgba(0,0,0,.12),0 5px 8px 0 rgba(0,0,0,.14)
	.category-name
		display: flex
		align-items: center
		height: 35px
		padding-left: 10px
		margin: 10px 0
		box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12)
		font-family: 'Roboto Condensed'
		font-size: 1.3em
		color: #009688
	.cloth-cntr
		height: 180px
		box-sizing: border-box
		text-align: center
		border-bottom: 2px solid #03a9f4
		border-radius: 15px
		margin: 0 10px 15px 10px
		.cloth-item
			height: 170px
















