@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }
@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }
body {
  padding: 4%; }

.room {
  margin-top: 50px;
  min-width: 640px;
  width: 50%;
  min-height: 80vh;
  height: 550px;
  border: 2px solid #555;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: border-box;
  background-attachment: fixed;
  box-sizing: border-box; }

.stage-one {
  text-align: center;
  padding: 10%;
  background: #263238;
  height: 80vh;
  box-sizing: border-box; }
  .stage-one .greeting {
    font-family: "Roboto Slab";
    font-size: 6em;
    color: #eee;
    margin-bottom: 20px; }
  .stage-one .gender {
    height: 80px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .stage-one .gender span {
      margin: 3%; }
    .stage-one .gender .fa {
      font-size: 4.5em;
      font-weight: 700;
      width: 80px;
      height: 80px;
      color: #eee; }
      .stage-one .gender .fa:hover {
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        cursor: pointer; }
    .stage-one .gender .male:hover {
      color: #03A9F4; }
    .stage-one .gender .female:hover {
      color: #E91E63; }
    .stage-one .gender .title {
      display: block;
      color: #263238;
      background: #8BC34A;
      padding: 8px;
      margin-top: 15px;
      font-size: 1.1em;
      font-family: "Roboto Condensed";
      font-weight: 700;
      outline: 3px solid #263238;
      outline-offset: -5px;
      transition: 0.5s all; }
  .stage-one .gr-description {
    color: #03A9F4;
    font-size: 1.5em;
    margin-top: 80px;
    padding: 40px;
    font-family: "Roboto Condensed"; }

.stage-one-leave {
  left: 0; }
  .stage-one-leave.stage-one-leave-active {
    left: -100%; }

.stage-one-enter {
  left: 100%; }
  .stage-one-enter.stage-one-enter-active {
    left: 0; }

.stage-one-enter,
.stage-one-leave {
  transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all; }

.stage-two {
  width: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .stage-two h2 {
    font-family: "Roboto Condensed";
    font-size: 2.8em;
    color: #fff; }
  .stage-two .models {
    height: 350px; }
    .stage-two .models img {
      height: 100%;
      margin: 10px 20px; }

.male-enter {
  background: #80DEEA; }

.female-enter {
  background: #F48FB1; }

.tools-section {
  min-height: 100px; }

.stage-three {
  position: relative;
  height: 100%;
  width: 100%; }

.model-sections {
  max-height: 65%;
  width: 65%;
  display: block;
  position: relative;
  text-align: center;
  box-sizing: border-box; }
  .model-sections img {
    max-height: 420px; }
  .model-sections .cloth {
    position: absolute;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .model-sections .cloth img {
      max-height: 100%; }
  .model-sections .tshirt {
    height: 160px;
    top: 85px; }
  .model-sections .trouser {
    height: 175px;
    top: 220px; }
  .model-sections .cup {
    height: 52px;
    top: 17px; }
  .model-sections .dress {
    height: 200px;
    top: 40px; }
  .model-sections .boots {
    height: 95px;
    top: 350px; }

.clothes-section {
  width: 35%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 14px 0 rgba(0, 0, 0, 0.12), 0 5px 8px 0 rgba(0, 0, 0, 0.14); }
  .clothes-section .category-name {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 35px;
    padding-left: 10px;
    margin: 10px 0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    font-family: "Roboto Condensed";
    font-size: 1.3em;
    color: #009688; }
  .clothes-section .cloth-cntr {
    height: 180px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 2px solid #03a9f4;
    border-radius: 15px;
    margin: 0 10px 15px 10px; }
    .clothes-section .cloth-cntr .cloth-item {
      height: 170px; }
