<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DressRoom</title>
    <!-- build:css assets/css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <!-- build:css assets/css/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
    <!-- build:js assets/js/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- endbuild -->
</head>

<body ng-app="Dressroom">
    <div ng-controller="MainCtrl">
		<div class="room">
			<div ng-if="stageOne" class="stage-one">
				<div class="greeting">Hello</div>
				<div class="gender">
					<span class="item" ng-repeat="gender in genders">
                        <i class="{{ gender.icon }} {{ gender.title }}" ng-mouseover="gender.titleShow = true" ng-mouseleave="gender.titleShow = false" ng-click="stages(gender.stageAction)"></i>
                        <div ng-if="gender.titleShow" class="title">{{ gender.title | uppercase }}</div>
					</span>
				</div>
				<div class="gr-description">Please Select Your Gender!</div>
			</div>
            <span ng-repeat="model in models">
                <div ng-if="model.action" class="stage-two {{ model.class }}">
                    <h2>Please Select Your Model</h2>
                    <div class="models">
                    <a href="" ng-repeat="item in model.items" ng-click="isActive(item.model); model.action = false; dressRoomActive = true ">
                        <img ng-src="{{ item.model }}" alt="" >
                        </a>
                    </div>
                </div>
            </span>

            <div ng-if="dressRoomActive" class="stage-three">
                <div class="tools-section">
                    
                </div>
                <div class="model-sections">
                    <span class="model">
                         <img ng-src="{{ activeModel }}" alt="" >
                    </span>
                     <div class="cloth tshirt">
                         <img ng-src="{{ tshirt }}" alt="">
                     </div>
                     <div class="cloth trouser">
                         <img ng-src="{{ trouser }}" alt="">
                     </div>
                     <div class="cloth cup">
                         <img ng-src="{{ cup }}" alt="">
                     </div>
                     <div class="cloth boots">
                         <img ng-src="{{ boots }}" alt="">
                     </div>
                </div>
                
                <div class="clothes-section">
                    <div ng-repeat="cloth in clothes">
                        <div class="category-name">
                            <span>{{ cloth.category | uppercase }}</span>
                        </div>
                        <div class="cloth-cntr" ng-repeat="item in cloth.items | filter:clothesFilter">
                            <img class="cloth-item" ng-src="{{ item.img }}" alt="" ng-mouseover="msover(item.img, cloth.category)">
                        </div>
                    </div>
                </div>
                <div class="model-sections">

                </div>
            </div>


			<canvas width="200px">
                
            </canvas>
		</div>



    </div>
    <!-- Scripts includes-->
    <!-- build:js assets/js/main.js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/MainCtrl.js"></script>
    <script src="js/fonts/fonts.js"></script>
    <!-- endbuild -->
</body>

</html>
